        <section>
            <div class="footer with-logo">
                <img src="/visual/footer.future-education-modena@1x.png" 
                        srcset="/visual/footer.future-education-modena@2x.png 2x, /visual/footer.future-education-modena@1x.png 1x"
                        alt="FEM - Future Education Home">
            </div>
            <div class="footer">
                <p>Future Education Modena è un progetto finanziato da Fondazione Cassa di Risparmio di Modena ed è parte di Ago – Modena Fabbriche Culturali. Il progetto è creato e gestito da Wonderful Education, in collaborazione con PTSClas e SocialFare.</p>
            </div>
            <div class="footer address">
                <p>
Future Education Modena<br>
Largo di Porta Sant’Agostino 228<br>
41121 Modena<br>
059 8681400<br>
info@fem.digital
                </p>
            </div>
        </section>
        <section>
            <div class="footer icons">
                <a href="https://www.facebook.com/futureducationmodena/">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/futureducationmodena/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.mozilla.org/it/firefox/new/">
                    <i class="fab fa-firefox"></i>
                </a>
                <a href="https://github.com/FEM-modena">
                    <i class="fab fa-github"></i>
                </a>
                <a href="/privacy">
                    <i class="fa fa-cookie-bite"></i>
                </a>
            </div>
        </section>