        <section class="section-pink">
            <div class="footer links">
                <ul>
                    <li><a href="/documenti-teorici">documenti teorici</a></li>
                    <li><a href="/activity">tutte le attività</a></li>
                    {# <li><a href="/community">community</a></li> #}
                    <li><a href="/strumenti">strumenti</a></li>
                    <li><a href="/webinar">webinar</a></li>
                    {# <li><a href="/materiale-extra">materiale extra</a></li> #}
                </ul>
            </div>
            <div class="footer links">
                <ul>
                    <li><a href="https://app.linda.education/">linda</a></li>
                    <li><a href="https://voyant.fem.digital/">voyant</a></li>
                </ul>
            </div>
            <div class="footer links">
                <ul>
                    <li><a href="/chi-siamo">chi siamo</a></li>
                    <li><a href="https://www.fem.digital">future education modena</a></li>
                    <li><a href="https://github.com/FEM-modena">open source</a></li>
                </ul>
            </div>
        </section>
