    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/947a8ddd10.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src='//use.typekit.com/fjw0uzg.js'></script>
    <script type='text/javascript'>try{Typekit.load();}catch(e){console.error(e)}</script>
    <link rel="stylesheet" href="/visual/index.css">