<nav class="level section-yellow">
    <div class="level-left">
        <div class="level-item">
            <a href="/">
                <img src="/visual/top-menu.linda-logo.svg"
                        id="top-logo"
                        alt="Linda - Linguistica per la Didattica e l'Apprendimento">
            </a>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <ul id="top-nav">
                <li><a href="/documenti-teorici">Documenti teorici</a></li>
                <li><a href="/activity">Tutte le attività</a></li>
                <li><a href="/strumenti">Strumenti</a></li>
            </ul>
        </div>
    </div>
</nav>
