        <section id="top-menu" class="section-yellow">
            <a href="/">
                <img src="/visual/top-menu.linda-logo.svg" 
                        alt="Linda - Linguistica per la Didattica e l'Apprendimento">

            </a>
            <ul>
                <li><a href="/osservatorio-linguistico">Osservatorio Linguistico</a></li>
                <li><a href="/documenti-teorici">Documenti teorici</a></li>
                <li><a href="/activity">Tutte le attività</a></li>
                <li><a href="/strumenti">Strumenti</a></li>
            </ul>
        </section>
