        <section id="top-menu" class="section-yellow">
            <a href="/">
                <img src="/visual/top-menu.single-letter-logo@1x.png" 
                        srcset="/visual/top-menu.single-letter-logo@2x.png 2x, /visual/top-menu.single-letter-logo@1x.png 1x"
                        alt="FEM - Come la lingua cambia le idee">

            </a>
            <ul>
                <li><a href="/documenti-teorici">Documenti teorici</a></li>
                <li><a href="/activity">Tutte le attività</a></li>
                <li><a href="/strumenti">Strumenti</a></li>
            </ul>
        </section>
