<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
    <script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", () => {
      const accordions = document.querySelectorAll(".accordion");
    for (const accordion of accordions) {
      const panels = accordion.querySelectorAll(".accordion-panel");
      for (const panel of panels) {
        const head = panel.querySelector(".accordion-header");
        head.addEventListener('click', () => {
          for (const otherPanel of panels) {
            if (otherPanel !== panel) {
              otherPanel.classList.remove('accordion-expanded');
            }
          }
          panel.classList.toggle('accordion-expanded');
        });
      }
    }
    } )
    </script>
</head>
<body>
    <div id="main">
    {% include 'top-menu.njk' %}
    <article class="activity">
    {{ content | safe }}
    </article>
    <div id='discourse-comments'></div>

    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'https://discourse.fem.digital/',
                        discourseEmbedUrl: 'https://{{settings.site_host}}{{page.url}}' };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>    
    {% include 'footer.njk' %}
    </div>

</body>

</html>