<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
    <script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", () => {
      const accordions = document.querySelectorAll(".accordion");
    for (const accordion of accordions) {
      const panels = accordion.querySelectorAll(".accordion-panel");
      for (const panel of panels) {
        const head = panel.querySelector(".accordion-header");
        head.addEventListener('click', () => {
          for (const otherPanel of panels) {
            if (otherPanel !== panel) {
              otherPanel.classList.remove('accordion-expanded');
            }
          }
          panel.classList.toggle('accordion-expanded');
        });
      }
    }
    } )
    </script>
</head>
<body>
    <main class="container">
    {% include 'top-menu.njk' %}
    <article class="px-2">
    {{ content | safe }}
    </article>
    {% include 'footer.njk' %}
    </main>
</body>
</html>