<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
</head>
<body>
    <div id="main">
    {% include 'top-menu.njk' %}
    <article class="page section-green webinar-index">
        <h1>Tutti i webinar trasmessi</h1>
        <ul>
        {%- for webinar in youtubevideos -%}
            <li>
                <img src="{{ webinar.snippet.thumbnails.default.url }}" class="webinar-preview">
                <h3>{{ webinar.snippet.title }}</h3>
                <small>{{ webinar.snippet.publishedAt | toLocalDate }}</small>
                <p>{{ webinar.snippet.description }}</p>
                <p class="ending-link">
                    <a href="https://www.youtube.com/watch?v={{ webinar.snippet.resourceId.videoId }}">Vai al video</a>
                </p>
            </li>
        {%- endfor -%}
        </ul>
    </article>
    {% include 'footer.links.njk' %}
    {% include 'footer.njk' %}
    </div>
</body>
</html>