<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
</head>
<body>
    <main class="container webinar-index">     
        {% include 'top-menu.njk' %}
        <article class="px-2">
            <p>{{content | safe }}</p>
            <h1>Tutti i webinar trasmessi</h1>
            <ul class="columns is-multiline is-centered">
            {%- for webinar in youtubevideos -%}
                <li class="column is-one-third">
                    <img src="{{ webinar.snippet.thumbnails.default.url }}" class="webinar-preview">
                    <h3 class="my-0">{{ webinar.snippet.title }}</h3>
                    <small>{{ webinar.snippet.publishedAt | toLocalDate }}</small>
                    <p>{{ webinar.snippet.description }}</p>
                    <p class="ending-link">
                        <a href="https://www.youtube.com/watch?v={{ webinar.snippet.resourceId.videoId }}">Vai al video</a>
                    </p>
                </li>
            {%- endfor -%}
            </ul>
        </article>
        {% include 'footer.links.njk' %}
        {% include 'footer.njk' %}
    </main>

</body>
</html>