@charset "utf-8";

$verde: #00AF7C;
$arancio: #EE622F;
$rosso: #E9302E;
$giallo: #F7B132;
$rosa: #E78CA7;
$nero: #231F20;

$primary: $verde;
$success: $verde;
$link: $rosso;
$info: $verde;
$warning: $giallo;
$danger: $rosso;

@import "../node_modules/bulma/bulma.sass";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}
/* General */
html, body {
    margin: 0;
    padding: 0;
    font-family: museo-sans, sans-serif;
}
/* Un-reset for Markdown documents */
article * {
    all: revert;
}
img, video {
    max-width: 100%
}
/* Links */
a, a:active, a:visited {
    color: $link;
    text-decoration: none;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 change-color($color: $rosso, $alpha: 0);
}
a:hover {
    box-shadow: inset 0 -.75em change-color($color: $rosso, $alpha: 0.1);
}
/* Titles */
h1, .title.is-1 {
    color: $primary;
}
h2, .title.is-2 {
    color: #ee622f;
}
h3, .title.is-3 {
    color: $primary;
}
.subtitle.is-3 {
    color: #A6A6A6;
    font-weight: 600;
    font-size: 16px;
}
  
/* Sections */
.section-yellow {
    border-bottom: 1px solid $giallo;
}
.section-red {
    border-bottom: 1px solid $rosso;
}
.section-pink {
    border-bottom: 1px solid $rosa;
}
.section-green {
    border-bottom: 1px solid $verde;
}
p.ending-link {
    text-align: right;
}

a.button {
    padding: .75em 1.5em;
    background-color: #F7B132;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 5px;
}
a.scenario_button {
    padding: .75em 1.5em;
    background-color: #F7B132;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 5px;
    display:inline-block;
}
a.wide_button {
    padding: .75em 1.5em;
    background-color: #F7B132;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 22px;
}
div.wide_button{
    padding: 3% 0%;

}
div.scenari_div {
    border: 1px solid  change-color($color: $verde, $alpha: .5);
    display: block;
    padding: 5px 20px;
    background-color: change-color($color: $verde, $saturation: 50%, $lightness: 95%, $alpha: 1.0);
    margin: 10px;
}
/* ****************** */
/* Top Menu */
#top-logo {
    width: 200px;
    margin: 1rem;
}
#top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
#top-nav li {
    display: inline-block;
    max-width: 8rem;
    text-align: center;
    font-size: 1.2rem;
}
#top-nav li + li {
    margin: 1.5rem;
}
#top-nav a {
    text-transform: lowercase;
    color: black;
}

/* Hero Section */
#hero {
    min-height: 75vh;
}
h1.main-hero, h1.sub-hero {
    font-family: museo-sans-display;
    color: #393939;
    font-size: 300%;
    margin: 0;
}
h1.main-hero {
    text-transform: uppercase;
    font-weight: 600;
}
h1.sub-hero {
    font-weight: 100;
    text-transform: none;
}

/* Main article */
article div, article p {
  text-align: justify;
}
/* Activity features */
.activity-feature h4 {
    border-bottom: 1px solid #646464;
}
/* Tables in articles */
article th,td {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
}

article tr:hover td {
    background-color:rgba(250,250,250, .5);
}

table {
    width: 100%;
    table-layout: fixed;
    padding: 0px 15px;
}

table.zebra tr:nth-child(2n) {
    background-color:rgba(245, 245, 245, .5);
}

/* Pages */
blockquote.document-quote {
    white-space: pre;
    text-align: right;
    font-family: museo-sans-display;
}

/* Sidekick section */
#sidekick {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}
#sidekick > i {
    margin: 6rem;
    margin-left: 2rem;
    font-size: 240px;
    color: #45685E;
}
#centerpage {
    display: flex;
    width: 67%;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
.footer-links li {
    padding: 1rem 0;
}
.footer-links li a {
    color: black;
    font-size: 0.9rem;
    text-transform: lowercase;
}
.footer-logo > img {
    width: 270px;
}
.footer > p {
    padding: 0 1rem;
}
.footer-address > p {
    text-align: right;
}

.footer-icons {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.footer-icons > a {
    opacity: 1;
    color: #686868;
    padding: 1rem;
    transition: color .13s;
}
.footer-icons > a:hover {
    box-shadow: none;
    color: $giallo;
}
.footer.icons > i {
    opacity: .2;
}
/* Webinar */
.webinar-index img.webinar-preview {
    width: 120px;
    float: left;
    margin: 0 1rem 1rem 0;
}
.webinar-video {
    padding: 2rem;
    justify-content: center;
}
.webinar-video iframe {
    width: 560px;
    height: 315px;
}
.webinar-summary {
    font-weight: 100;
    padding: 2rem;
    font-style: italic;
}
 /* accordion in activity pages */   
 .accordion-header {
    cursor: pointer;
    padding: 0px 20px;
    color: #e5f7f1;
    }

    .accordion-panel {
    border: 1px solid  #00AF7C;
    margin: 2px;
    background-color: #00AF7C;
    }

    .accordion-panel > .accordion-body {
    display: none;
    }

    .accordion-panel.accordion-expanded > .accordion-body {
    display: block;
    padding: 15px 20px;
    background-color: #e5f7f1;
    }

@media only screen
 and (min-device-width: 360px)
 and (max-device-width: 768px) {
    p.ending-link {
        margin: 1rem 0;
    }
    p.ending-link a {
        padding: .75em 1.5em;
        background-color: #F7B132;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 5px;
    }
    h1.main-hero, h1.sub-hero {
        font-size: 200%;
    }
    .footer-links li {
        text-align: center;
    }
    blockquote.document-quote {
        font-size: smaller;
        font-family: museo-sans;
        white-space: pre-wrap;
    }
    .webinar-video {
        padding: 0px;
    }
    .webinar-video iframe {
        width: 100vw;
        height: calc(100vw * 0.5625);
    }

}
